body{
  background-color: Green;
}

#pingball{
  position: absolute;
  top: 200px;
  left: 300px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:red;
}

.blok{
  position: relative;
  background-color:blue;
  width: 40px;
  height:100px;
}

#blok1{
  float:left;
}

#blok2{
  float:right;
}
