body{
  background-color: green;
  overflow: hidden;
  margin: 0;
  padding: 0px;
}

#pingball{
  position: absolute;
  top: -200px;
  left: 300px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:red;
}

.blok{
  position: relative;
  background-color:blue;
  width: 10px;
  margin-left: 40px; /* Margin */
  margin-right: 40px; /* Margin */
  height:100px;
}


.scorebord {
  top:5px;
  width:120px;
  height:40px;
  color: purple;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  font-family: arial;
}

#ballspeed {
  top: 15px;
  right: 60px;
  height:40px;
  color: purple;
  position: absolute;
  float: right;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  font-family: arial;
}

#blok1{
  float:left;
}

#blok2{
  float:right;
}
